```html id="yw1k79"
<!-- COMMENT FORM -->
<form th:action="@{/comments/add/{id}(id=${post.id})}"
      method="post"
      class="mt-3">

  <div class="input-group">

    <input type="text"
           name="content"
           class="form-control"
           placeholder="Write a comment..."
           required>

    <button class="btn btn-secondary"
            type="submit">
      Comment
    </button>

  </div>

</form>

<!-- COMMENTS -->
<div class="mt-3">

  <div th:each="comment : ${post.comments}"
       class="border rounded p-2 mb-2">

    <strong th:text="${comment.user.firstName}">
      User
    </strong>

    <p class="mb-0"
       th:text="${comment.content}">
      Nice post!
    </p>

  </div>

</div>
```
