<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="~{layout :: layout(~{::content},'Friends')}">
<head>
    <title>Friends</title>
</head>
<body>

<th:block th:fragment="content">

    <p class="feed-label">People You May Know</p>

    <div id="users"></div>

    <script th:inline="javascript">
        const currentUserId = [[${currentUser.id}]];
    </script>

    <script src="/js/friends.js"></script>

    <script>
        fetch('/friends/users')
        .then(res => res.json())
        .then(users => {

            let html = '';

            users.forEach(user => {

                html += `
                <div class="user-card">

                    <div class="user-name">
                        ${user.firstName} ${user.lastName}
                    </div>

                    <button
                        class="send-request"
                        data-id="${user.id}">
                        Add Friend
                    </button>

                </div>`;
            });

            document.getElementById('users').innerHTML = html;

            initializeFriendButtons();
        });
    </script>

</th:block>

</body>
</html>