<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="~{layout :: layout(~{::content})}">
<head>
    <title>Friends</title>
    <script src="/js/friends.js"></script>
</head>

<body>
<th:block th:fragment="content">
<main>

    <h2 class="page-title">
        People You May Know
    </h2>

    <div id="users"></div>

</main>

<script>
    fetch('/friends/users')
    .then(res => res.json())
    .then(users => {

        let html = '';

        users.forEach(user => {

            html += `
            <div class="user-card">

                <span class="user-name">
                    ${user.firstName} ${user.lastName}
                </span>

                <button
                    class="send-request"
                    data-id="${user.id}">
                    Add Friend
                </button>

            </div>`;
        });

        document.getElementById('users').innerHTML = html;

        initializeFriendButtons();
    });
</script>

</body>
</html>