<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="~{layout :: layout(~{::content})}">
<head>
    <title>Home</title>
</head>
<body>

<th:block th:fragment="content">

    <div th:replace="~{fragments/post-form :: create-post-card}"></div>

    <div>
        <p class="feed-label">Recent Updates</p>

        <div th:if="${#lists.isEmpty(posts)}" class="empty-state">
            <p>No posts yet. Be the first to share!</p>
        </div>

        <div th:each="post : ${posts}">
            <div th:replace="~{fragments/post-card :: post-card(post=${post})}"></div>
        </div>
    </div>


    <script src="/js/feed.js"></script>
</th:block>
</body>
</html>

