<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>


<body>
<div class="auth-wrapper">
    <div class="container">
    <h2>Login</h2>

    <p class="success"
       th:if="${success}"
       th:text="${success}">
    </p>

    <p class="error"
       th:if="${param.error}">

        Invalid email or password
    </p>

    <form action="/login" method="post">


        <label>Email</label>
        <input type="text" name="username" placeholder="Enter email" required>
        <br>

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter password" required>
        <br>

        <button type="submit">Login </button>

    </form>
     <br>
    <a href="/register">Create new account</a>
    </div>
</div>
</body>
</html>