<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

<p>Name:
    <span th:text="${user.firstName + ' ' + user.lastName}"></span>
</p>

<p>Email:
    <span th:text="${user.email}"></span>
</p>
<p>Bio:
    <span th:text="${user.bio != null ? user.bio : 'No bio added yet.'}"></span>
</p>
<p>Join Date:
    <span th:text="${user.joinDate}"></span>
</p>

<p>Post Count:
    <span th:text="${postCount}">0</span>
</p>
<p>Friend Count:
    <span th:text="${friendCount}">0</span>
</p>


<a href="/profile/edit">Edit Profile</a>

<br><br>

<a href="/home">Home</a>


</body>
</html>