<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Users</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form th:action="@{/search}" method="get">

    <input type="text"
           name="keyword"
           th:value="${keyword}"
           placeholder="Search users or posts...">

    <button type="submit">
        Search
    </button>

</form>

<hr>
<h3>Users Found:</h3>
<div th:if="${users != null}">

    <div th:each="user : ${users}">

        <p>
            <strong>Name:</strong>
            <span th:text="${user.firstName + ' ' + user.lastName}"></span>

        </p>

        <p>
            <strong>Email:</strong>
            <span th:text="${user.email}"></span>
        </p>

        <hr>


    </div>

</div>
<h3>Posts Found:</h3>
<div th:if="${posts != null}">
    <div th:each="post : ${posts}">
        <p>
            <strong>Author:</strong>
            <span th:text="${post.authorFirstName + ' ' + post.authorLastName}"></span>
        </p>
        <p>
            <strong>Content:</strong>
            <span th:text="${post.content}"></span>
        </p>
        <p>
            <small>Posted at: <span th:text="${post.createdAt}"></span></small>
        </p>
        <hr>
    </div>
</div>

<a href="/profile">My Profile</a>

<br><br>

<a href="/home">Home</a>

</body>
</html>